html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  text-align: center;
  background-image: url(./images/Background\ Image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(118, 140, 84, 0.8);
}

h2 {
  font-size: 1.4em;
}
.game-space {
  padding: 50px;
}

#game-area {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.game-container {
  display: grid;
  grid-template-rows: (10);
  grid-template-columns: (10);
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  margin: 0 auto;
  /* width: 600px;
  height: 500px;
  background-color: white;
  position: absolute;
  bottom: 20px; */
}

#intro-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

#maze-garden-img {
  max-width: 50%;
  max-height: 50%;
  opacity: 0.95;
  border-radius: 5%;
}

.additional-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  position: relative;
  bottom: 250px;
  left: 430px;
}

.btn.btn-info.dropdown-toggle {
  width: 200px;
  height: 60px;
  font-size: 20px;
}

#play {
  width: 200px;
  height: 60px;
  font-size: 20px;
}

.wall {
  background-color: black;
  width: 30px;
  height: 30px;
}

.path {
  background-color: aquamarine;
  width: 30px;
  height: 30px;
}

.maze-row {
  display: flex;
}
