html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  padding: 0;
  text-align: center;
}

.game-space {
  background-image: url(./images/Background\ Image.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 1.3em;
}
